#nav-container{
	height: 100px;
}

.height-100{
	height: 100%;
}

.width-100{
	width: 100%;
}

#blue-nav{
	background: #28b7ed;
	padding: 10px;
	margin-bottom: 0px;
}

ul{
	list-style: none;
}

.inline-ul li{
	display: inline;
	padding: 0em 1em;
}

.inline-ul li a{
	color: white;
}

#header-menu{
	color: white;
	font-size: 1.2em;
}

#header-logo{
	height: 50px;
	padding: 10px 10px;
}

#site-search{
	margin: 0px;
	border: none;
	border-radius: 20px;
	padding: 5px 15px;
}

.wrapper{
	border: 1px solid #ddd;
	background: white;
	margin-top: 0.2em;
}

.accordian-wrapper{
		background: white;
	text-align: center;
}

.main-heading{
	font-size: 1.5em;
	padding: 0.7em;
	text-align: center;
	margin-bottom: 0px;
	border-bottom: 1px solid #ddd;
}

.pad-05{
	padding: .5em;
}

.pad-10{
	padding: 1em;
}

#profile-address{

}

#profile-website{
    color: #28b7ed;

}

#profile-phone a{
	color: #333;
}

.profile-details{
	font-size: 1em;
	text-align: center;
	margin-bottom: 0.2em;
}

#business-nav{

}

#business-nav li{
    font-size: 0.8em;
    padding: .6em .5em;
    cursor: pointer;
}

#business-nav li:hover{
background: rgba(40, 183, 237, 0.18)
}

.active-li{
background: rgba(40, 183, 237, 0.18)
}

.icon-white{
	color: white;
}

#blue-drop-button{
	float: right;
	padding: 8px;
	margin: 0px;
	position: relative;
	top: -6px;
}

#search-text{
	display: none;
}

#drop-button{
	margin: 0px;
	padding: 9px;
	position: relative;
}

.bottom-border{
	border-bottom: 1px solid #ddd;
}

#cover-photo{
	width: 100%;
	height: 100%;
	background: black;
}

#cover-map{
	width: 100%;
	height: 100%;
	background: black;
}

#cover-map p{
	color: white;
}

#cover-photo-wrapper{
	height: 210px;
}

.p-content{
	font-size: .8em;
}

.page-heading{
	padding: 0.7em;
	border-bottom: 1px solid #ddd;
	text-align: center;
	font-size: 1em;
}

.footer-list{
	margin-bottom: 15px;
}

.footer-list li{
	color: white;
	padding: 5px;
}

.footer-list li a{
	color: white;
}

.footer-list li:first-child{
	font-weight: bold;
	text-decoration: underline;
}

.teacher-profile{
	display: inline-block;
	border-bottom: 1px dashed #ddd;
	padding: 1em;
}

li.teacher-profile:last-child{
	border-bottom: none;
}

#teacher-photo{
	width: 100px;
	height: 100px;
	background: black;
	margin-right: 1em;
	margin-bottom: 1em;
	float: left;
}

#teacher-content{

}

#teacher-name{
	margin-bottom: 1em;
	font-size: 1em;
}

.taken-li{
	font-size: 0.8em;
	display: inline;
	padding: 0 0.3em;
}

#teacher-classes{
	margin-top: 1em;
}

.no-margin{
	margin: 0px !important;
}

.mt-1em{
	margin-top: 1em !important;
}

.mt-05em{
	margin-top: 0.5em !important;
}

.mb-1em{
	margin-bottom: 1em !important;
}

.mb-2em{
	margin-bottom: 2em !important;
}

.mb-05em{
	margin-bottom: 0.5em !important;
}

.mb-06em{
	margin-bottom: 0.6em !important;
}

.mb-07em{
	margin-bottom: 0.7em !important;
}

.mb-08em{
	margin-bottom: 0.8em !important;
}

.mb-09em{
	margin-bottom: 0.9em !important;
}

.align-center{
	text-align: center;
}

.font-1em{
	font-size: 1em;
}

.font-12em{
	font-size: 1.2em;
}

.font-15em{
	font-size: 1.5em;
}

.font-2em{
	font-size: 2em;
}

.bold{
	font-weight: bold;
}

#class-page-name{
	color: #28b7ed;
}

#show-map{
	font-size: 0.8em;
}

.w-100{
	width: 100%;
}

.w-80{
	width: 80%;
}

.w-50{
	width: 50%;
}

.w-55{
	width: 55%;
}

.w-33.3{
	width: 33.3% !important;
}

.w-10{
	width: 10% !important;
}

.w-30{
	width: 30% !important;
}

.w-40{
	width: 40% !important;
}

.w-20{
	width: 20% !important;
}

#btn-bsb{
	width: 50%;
}

#class-map{
	width: 100%;
	height: 200px;
	background: black;
	margin-bottom: 1em;
	display: none;
}

#profile-photo{
	width: 96%;
	margin: 2%;
	background: black;
}

#class-select{
	width: 50%;
}

#schedule-list{
	text-align: center;
		padding: 10px 0;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
}

#schedule-list li{
	display: inline;
	padding: 0px 1.2em;
	font-size: 0.9em;
}

#schedule-list li a{
	color: #333;

}

#day-active a{
	color: #28b7ed !important;
	text-decoration: underline;
}

#earlier{
	float: left;
}

#earlier a{
	width: 5em;
}

#later{
	float: right;
}

#later a{
	width: 5em;
}

.mobile-day{
	text-align: center;
	padding: 0.6em;
	background: #eee;
}

.mobile-class{
	padding: 0.5em;
	border-bottom: 1px dashed #ddd;
}

/*.mobile-class:last-child{
	border-bottom: none !important;
}*/

#m-class-name{
	color: #28b7ed;
	font-size: 1.2em;
}


.black{
	color: #333;
}

.mobile-class-link{
	color: black !important;
	text-decoration: none !important;
}

#top-ul{
	margin: 25px 10px;
}

#top-ul li{
	display: inline;
	margin: 0px 6px;
}

.schedule-button{
	padding: 0px !important;
	padding-top: 7px !important;
}

.align-right{
	text-align: right;
}


.w-10{
	width: 10%;
}

.w-25{
	width: 25%;
}

.w-30{
	width: 30%;
}

.w-35{
	width: 35%;
}

.w-47{
	width: 47%;
}

.w-48{
	width: 48%;
}

.w-70{
	width: 70%;
}

.w-15{
	width: 15%;
}

.following{
	color: red !important;
}

.link{
	font-size: 0.8em;
}

.align-left{
	text-align: left;
}

.table-cell{
	display: table-cell;

}

#mobile-map{
width: 67px;
height: 67px;
background: black;
border-radius: 35px;
-webkit-border-radius: 35px;
border:2px solid #28b7ed;
}

.inline-block{
	display: inline-block;
}

#registration_form{
	padding: 5% 25% !important;
}

#login_form{
	padding: 9% 25% !important;
}

.p-1em{
	padding: 1em;
}

.w-92{
	width: 92%;
}

#facebook-login{
	background: #3b5998;
	color: white;
	text-shadow: none;
	padding: 1em;
	border: none;
}

.f-08em{
	font-size: 0.8em;
}

#terms-cond{
	margin-bottom: 1em;
	width: 110%;
}

#my-tickets-ul li{
	border-bottom: 1px dashed #ddd;
	padding: 10px;
}

#my-tickets-ul li:last-child{
	border-bottom: none;
}

#my_account_settings{
	margin: 2% 10%;
}

#business-courses-ul li{
	padding: 1em;
	border-bottom: 1px dashed #ddd;
}

#business-courses-ul li:last-child{
	border-bottom: none;
}

#course-title{
	color: orange;
	font-size: 1em;
}

.normal{
	font-weight: normal;
}

#studios-following-ul li{
	padding: 1em;
	border-bottom: 1px dashed #ddd;
}


#studios-following-ul li:last-child{
	border-bottom: none;
}

#user-courses li{
	padding: 1em;
	border-bottom: 1px dashed #ddd;
}

#user-courses li:last-child{
	border-bottom: none;
}

#studio-name{
	color: #28b7ed;
	font-size: 1em;
}

.red{
	color: red;
}

.side-link{
	color: black !important;
}

.side-link:hover{
	text-decoration: none !important;
}

.side-bar-icon{
	margin: 4px 0px !important;
}

.side-list-ul li{
	padding: 3px;
}

.side-list-ul{
	text-align: left !important;
}

#big-map{
	width: 98%;
height: 250px;
background: white;
margin: 0 auto;
padding: 1%;
margin-top:0.2em;
}

#search-results-studios{
	border-bottom: 1px solid #ddd;
}

#search-results-studios li{
	padding: 2%;
	display: inline-block;
	width: 96%;	
	border-bottom: 1px dashed #ddd;
}

#search-results-studios li:last-child{
	border-bottom: none !important;
}

#studios-content{

}

#studios-image{
	width: 100px;
height: 100px;
background: black;
float: left;
margin-right: 2%;
}

.link-1em{
	font-size: 1em !important;
}

.results-articles{

}

.results-articles li{
	padding: 1%;	
	display: inline-block;
	width: 94%;
	border-bottom: 1px dashed #ddd;
}

.results-articles li:last-child{
	border: none;
}

#article-photo{
	width: 20%;
	height: 150px;
	background: black;
	float: left;
	margin-right: 1%;
}

#article-content{
	float: left;
	width: 78%;
}

#results-articles{
	display: inline-block;
	width: 100%;
	float: left;
}

#article-title{
	font-weight: bold;
}

#scc-tab{
	border-bottom: none !important;
}

#search-results-classes li{
	padding: 2%;
	display: inline-block;
	width: 96%;	
	border-bottom: 1px dashed #ddd;
}

#search-results-courses li{
	padding: 2%;
	display: inline-block;
	width: 96%;	
	border-bottom: 1px dashed #ddd;
}

#class-name{
	color: #28b7ed;
	font-size: 1em;
}

.ml-1em{
	margin-left: 1em !important;
}

#book-now-button{
	background: #28b7ed;
	border:	1px solid #28b7ed;
	color: white;
	font-weight: lighter;
	text-shadow:none;
}

.white{
	color: white !important;
}

#listing-table{
width: 100%;
margin-bottom: 0.5em;
}

#listing-table thead tr th{
	font-size: 0.8em;
	padding: 0.5% 0.5%;
}

#listing-table tbody tr{
	background: rgba(40, 183, 237, 0.18);
}

#listing-table tbody tr td{
	font-size: 0.8em;
}

#details-course{
	margin-top: 1em;
	display: none;
}

#course-start{
	color: black;
	font-weight: normal;
	float: right;
}

#course-details{
	color: black;
	font-weight: normal;
	float: right;
}

#suburbs-rest{
	display: none;
}

a:hover{
	cursor: pointer;
}

#class-table{
	width: 100%;
	text-align: left;
}

#class-table-button{
	padding: 0em 0em 1em 0em;
	text-align: right;
}

#side-main-heading{
	text-align: center;
font-size: 1em;
padding: 0.5em;
background: white;
border: 1px solid #ddd;
}

#filter-wrapper{
	border-bottom: none;
}

#mobile-class-results{
	display: none;
}

  #filter-button{
    display: none;
  }

#filter-mobile-expand{
	color: black;
	display: none;
}

#filter-mobile-expand:hover{
	text-decoration: none;
}

.span3{
	margin-bottom: 0px !important;
}

#studio-photo{
	width: 100px;
	height: 100px;
	background: black;
}

.w-17{
	width: 17%;
}

#top-ul a{
	color: black;
}

.name{
	border-bottom: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 0.6em;
text-align: center;
}

.w-96{
	width: 96%;
}

.dropdown-menu li{
	padding: 10px;
}

.dropdown-menu li:hover{
	background: rgba(40, 183, 237, 0.18);
}

.dropdown-menu{
	padding-bottom: 0px !important;
}

#top-buttons{
	margin: 21px 0px;
}

.dropdown-menu{
	left: -22% !important;
	min-width: 130px !important;
}

#blue-nav-res{
	background: #28b7ed;
	height: 50px;
	border-bottom: none;
}

.h-100{
	height: 100%;
}

.b-blue{
	background: #28b7ed !important;
}

.c-blue{
	color: #28b7ed !important;
}

#m-drop-button{
	border: none !important;
	background: #28b7ed !important;
}

#blue-ul{
	background: #28b7ed !important;
	padding: 10px;
}

#blue-ul li{
	display: inline;
	color: white;
}

.white{
	color: white !important;
}

.no-shadow-t{
	text-shadow: none;
}

#class-about-toggle{
	display: none;
}


.ml-1em{
	margin-left: 1em;
}

.mr-05em{
	margin-right: 0.5em;
}

.schedule-cycle{
	background: rgb(248, 248, 248);
	padding: 1em;
}

#schedule-cycle-title{
	margin-bottom: 1em;
	font-size: 1em;
	font-weight: bold;
}

.side-sub-active{
	width: 5px;height: 35px;background:black;float: left;margin-right: 10px;
}

#templates-li{
	display: block;
}

.templates li{
	padding: 1em;
	border-bottom: 1px dashed #ddd;
}

.templates li:last-child{
	border-bottom: none;
}

#teacher-location{
	display: inline;
}

#teacher-location-left{
	width: 50%;
	float: left;
}

.template-sub-heading{
	text-align: center;
	padding: 0.5em;
	font-size: 1.1em;
	border-bottom: 1px solid #ddd;
}

#courses-ul{

}

#courses-ul li{
	border-bottom: 1px dashed #ddd;
	padding: 1em;
}

#courses-ul li:last-child{
	border-bottom: none;
}

.course-name{
	color: orange;
	font-size: 1em;
}

#class-attendees li{
	padding: 2px;
}

#class-attendees{
	margin-left: 30px;
}

#class-attendees-td{
	display: none;
	padding: 0px !important;
}

#locations-ul{

}

#locations-ul li{
	padding: 1em;
	border-bottom: 1px dashed #ddd;
}

#locations-ul li:last-child{
	border-bottom: none;
}

#location-name{

}

#google-map-location{
	width: 100%;
	height:200px;
	background: black;
}

#holidays-ul{

}

#holidays-ul li{
	font-size: 1em;
	padding: 1em;
		border-bottom: 1px dashed #ddd;
}

#holidays-ul li:last-child{
		border-bottom: none;
}

#holiday-saved-ul li{
	font-size: 0.8em;
	margin-left: 2em;
	padding: 0px;
		border-bottom: none;
}


.canceled-class{
	color: #d84a38;
}

.booking-fin td{
	color: green;
}

.withdraw-fin td{
	color: red;
}

.courses-bookings-table{
	border-bottom: 1px dashed #ddd;
}

#courses-bookings-table-div{
	display: none;
}

.acccount-s-head{
	font-size: 1em;
	margin-bottom: 1em;
}

#cover-photo-admin{
	width: 100%;
	height: 210px;
	background: black;
}

#profile-photo-admin{
	width: 210px;
	height: 210px;
	background: black;
}

.mr-1em{
	margin-right: 1em !important;
}

.ml-1em{
	margin-left: 1em !important;
}

.w-100px{
	width: 100px;
}

#holiday-table tbody tr td{
	padding: 5px;
}

#review-ul{

}

#review-ul li{
	padding: 1em;
	border-bottom: 1px dashed #ddd;	
}

#review-ul li:first-child{

}

#review-ul li:last-child{
	border-bottom: none;
}

.border-top {
	border-top: 1px solid #ddd;
}

#checkout-ol{
	margin-left: 1em;
}

#checkout-ol li{
	font-size: 0.8em;
	border: 1px dashed #ddd;
	padding: 1em;
	margin-bottom: 1em;
}

#search-button{
	position: relative;
left: -67px;
border-radius: 15px;
border: none;
background: #28b7ed;
color: white;
text-shadow: none;
padding: 3px 11px;
top: -1px;
}

.f-12em{
	font-size: 1.2em;
}

.container-full{
	width: 95%;
	margin: 0 auto;
}

.super-table{
	font-size: 0.8em;
}

.super-search-div{
	padding: 1em;
	border-bottom: 1px solid #ddd;
}
.f-1em{
	font-size: 1em;
}

.p-1em{
	padding: 1em;
}

.top-links{
	font-size: 1em;	
}

#news-super{
	font-size: 1.2em;
	margin-bottom: 1em;
	text-decoration: underline;
}

.super-span{
	padding: 5%;
	margin-left: 0px !important;
}

.add-new-div{
	padding: 5px; border-bottom:1px solid #ddd; text-align:right;
}

.green{
	color: green;
}

.link-1{
	font-size: 1em;
}

.help-headings{
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

.help-content{
	margin-bottom: 2em;
}

#help-ul li{
	padding: 1em;
	border-bottom: 1px dashed #ddd;
}

#help-ul li:last-child{
	border-bottom: none;
}

.w-10{
	width: 10% !important;
}

.w-289{
	width: 28.9%;
}

#top-search-button{
	width: 33%;
background: #28b7ed;
border: none;
color: white;
text-shadow: none;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 7px;
font-size: 16px;
font-weight: lighter;
}


#top-search-what{
	padding: 6px;
	width: 233px;
}

#top-search-where{
	padding: 6px;
	width: 226px;
}

#top-search-addon{
	padding: 6px;
}

.w-33{
	width: 33%;
}

/*#home-banner-image{
	background-image: url('/home-image.png');
	height: 350px;
}*/

.home-search-wrapper{
	padding: 1%;
margin-top: 1em;
border: none;
background: rgba(0, 0, 0, 0.38);
margin: 30px 0px 150px 0px;
}


#top-search-what-home{
	padding: 7px;
	border: none;
	width: 233px;
}

#top-search-where-home{
	padding: 7px;
	border: none;
	width: 226px;
}

#top-search-addon-home{
	padding: 7px;
	border: none;
}

#home-message{
	color: white;
	font-size: 2em;
	font-weight: bold;
	text-shadow:0 0 15px rgba(0,0,0,0.6),0 -1px 1px rgba(0,0,0,0.6);
	margin-top: 97px;
}

#in-melbourne{
	font-size: 0.7em;
}